
<div class="post posts-wrapper row">
  <div class="post-head">
    <h3 class="name">Ted Keast</h3>
  </div>
    <%= image_tag(@post.image(:medium)) %>
    <p class="caption"><%= @post.caption %></p>
    <%= link_to "Cancel", posts_path %> |
    <%= link_to "Edit Post", edit_post_path(@post) %> |
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
